.idea
nbproject

app/cfg/env.cfg.php

app/var/tpl/__tpl/*
!app/var/tpl/__tpl/empty

app/var/tpl/__cache/*
!app/var/tpl/__cache/empty

static/files/*
!static/files/empty
!static/files/tracking.ogg

static/thumbs/*
!static/thumbs/empty

app/var/generated/*
!app/var/generated/empty

app/var/log/*